<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/adminpanelheader') %>
  <link rel="stylesheet" href="/css/addproduct.css">
  <link rel="stylesheet" href="/css/admindash.css">

  <body>

    <!-- Main Content Section -->
    <div class="main-content">
      <!-- Include the top navigation bar -->
      <%- include('../partials/adminnavbar') %>

      <div class="container">
        <h2>Update Menu</h2>

        <!-- Product Update Form -->
        <form action="/updateproduct/<%= product._id %>" method="POST" enctype="multipart/form-data">
          <input type="text" name="name" placeholder="Product Name" value="<%= product.name %>" required>
          <textarea name="description" placeholder="Product Description" required><%= product.description %></textarea>
          <input type="number" name="price" placeholder="Product Price" value="<%= product.price %>" required>
          
          <select name="category" required>
            <% categories.forEach(category => { %>
              <option value="<%= category._id %>" <%= product.category.equals(category._id) ? 'selected' : '' %>><%= category.name %></option>
            <% }); %>
          </select>
          
          <input type="file" name="image">
          <p>Current Image: <img src="/uploads/<%= product.image %>" alt="Current Product Image" width="100"></p>
          
          <button type="submit">Update Menu</button>
        </form>
      </div>
    </div>
  </body>
</html>
