<div class="pagination mt-4">
  <% if (hasPreviousPage) { %>
    <a href="?page=<%= previousPage %>" class="pagination-link">Previous</a>
  <% } %>

  <% for (let i = 1; i <= totalPages; i++) { %>
    <a href="?page=<%= i %>" 
       class="pagination-link <%= i === currentPage ? 'active' : '' %>">
      <%= i %>
    </a>
  <% } %>

  <% if (hasNextPage) { %>
    <a href="?page=<%= nextPage %>" class="pagination-link">Next</a>
  <% } %>
</div>
